<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders</title>
    <!-- Your CSS -->
    <link rel="stylesheet" href="/css/delivered.css">
</head>

<body>
    <nav>
        <div class="logo">
            <h1>FASHIONSHOP</h1>
        </div>
        <ul>
            <li>
                <a href="/admin/home">Home</a>
                <a href="/admin/mendata">Men</a>
                <a href="/admin/womendata">Women</a>
                <a href="/admin/kiddata">Kid</a>
                <a href="/admin/neworders">Orders</a>
                <a href="/admin/deleiverdproduct">Delivered</a>
                <a href="/admin/logout">Log Out</a>
            </li>
        </ul>
    </nav>

    <div class="container mt-5">
        <h1 class="sub">Delivered</h1>

        {{#each userOrders}}
<div class="order">
    <div class="user-details">
        <h2>Name: {{this.user.name}}</h2>
        <p>Email: {{this.user.email}}</p>
        <p>Address: {{this.user.address}}</p>
        <p>Pincode: {{this.user.pincode}}</p>
        <p>Mobile: {{this.user.mobile}}</p>
    </div>
    <div class="order-details">
        <h3>Order Details:</h3>
        <div class="products">
            {{#each this.orders}}
            <div class="pro-container">
                <img src="{{this.url}}" alt="Product Image" class="pro_img">
                <div class="info">
                    <p class="aprice">Date of shipping: {{this.dateshipping}}</p>
                    <p class="aprice">Date of Delivery: {{this.datedelivered}}</p>
                </div><br>
            </div>
            {{/each}}
        </div>
    </div>
</div>
{{/each}}
    </div>
    <footer class="footer">
        <p>&copy; 2023 Your E-Commerce Admin</p>
    </footer>
</body>

</html>
