<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kid`s Collections</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"  />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"/>
    <link rel="stylesheet" href="/css/kid.css">
</head>
</head>
<body>
    <section id="header">
    <a href="#"><img src=""></a>
    <div class="div">
      <ul id="navbar">
        <li><a class="active" href="/home">Home</a></li>
        <li><a href="/men">Men</a></li>
        <li><a href="/women">Women</a></li>
        <li><a href="/kid">Kid</a></li>
        <li><a href="/cart">Cart</a></li>
       
        <button class="btn"><li><a href="/logout">Log Out</a></li></button>
      </ul>
       
    </div>
  </section>
        
            <h1>Kid Collections</h1>
            <div class="products">
                 {{#each admin}}
                <div class="pro-container"data_product_id="{{this._id}}">
                    
                        <img   class="pro_img"src= "{{this.url1}}" alt=""><br>
                        <div class="info">
                           <span class="span_star"> <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></span>

                        <p class="category">{{this.category}}</p>
                        <p class="desc">{{this.description}}</p>
                        <span class="cprice"><i class="fas fa-rupee-sign" style="color: #1f60d1;"></i>{{this.cprice}}</span>
            <span class="aprice"><i class="fas fa-rupee-sign" style="color: #1f60d1;"></i>{{this.aprice}}</span><br>
                        <br>
                        <form action="/cart" method="post">
                     <input type="hidden" name="id" value="{{this._id}}"> 
                    <input type="hidden" name="url1" value="{{this.url1}}">
                    <input type="hidden" name="cprice" value="{{this.cprice}}">
                    <button type="submit" class="btn">
                        <i class="fal fa-shopping-cart cart"></i>
                    </button>
                </form>  
      

                </div>
                
            </div>
            {{/each}}
        </div>
        <footer id="contact">
    <div class="footer-content">
        <img src="cloths.avif" class="logo" alt="">
        <div class="footer-ul-container">
            <ul class="category">
                <li class="category-title">men</li>
                <li><a href="#" class="footer-link">t-shirts</a></li>
                <li><a href="#" class="footer-link">sweatshirts</a></li>
                <li><a href="#" class="footer-link">shirts</a></li>
                <li><a href="#" class="footer-link">jeans</a></li>
                <li><a href="#" class="footer-link">trousers</a></li>
                <li><a href="#" class="footer-link">shoes</a></li>
                <li><a href="#" class="footer-link">casuals</a></li>
                <li><a href="#" class="footer-link">formals</a></li>
                <li><a href="#" class="footer-link">sports</a></li>
                <li><a href="#" class="footer-link">watch</a></li>
            </ul>
            <ul class="category">
                <li class="category-title">women</li>
                <li><a href="#" class="footer-link">t-shirts</a></li>
                <li><a href="#" class="footer-link">sweatshirts</a></li>
                <li><a href="#" class="footer-link">shirts</a></li>
                <li><a href="#" class="footer-link">jeans</a></li>
                <li><a href="#" class="footer-link">trousers</a></li>
                <li><a href="#" class="footer-link">shoes</a></li>
                <li><a href="#" class="footer-link">casuals</a></li>
                <li><a href="#" class="footer-link">formals</a></li>
                <li><a href="#" class="footer-link">sports</a></li>
                <li><a href="#" class="footer-link">watch</a></li>
            </ul>
        </div>
    </div>
</footer> 

        </body>
</html>