<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Men`s Collections</title>
    <link rel="stylesheet" href="/css/page.css">
</head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"  />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"/>
    
</head>
<body>
    <nav>
            <div class="logo">
                <h1>FASHIONSHOP</h1>
            </div>
            <ul>
                <li>
                    <a  href="/home">Home</a>
                    <a href="/men">Men</a>
                    <a href="/women">Women</a>
                    <a href="/kid">Kid</a>
                    <a href="/cart">Cart</a>
                    <a href="/logout" class="btn">Log Out</a>
                </li>
            </ul>
        </nav>
    <div class="container">
        
        <h1 class="sub">Men`s Collections</h1>
            <div class="products">
                 {{#each admin}}
                <div class="pro-container"data_product_id="{{this._id}}">
                    
                        <img   class="pro_img"src= "{{this.url}}" alt=""><br>
                        <div class="info">
                           <span class="span_star"> <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></span>

                        <p class="category">{{this.category}}</p>
                        <p class="desc">{{this.description}}</p>
                        <span class="cprice"><i class="fas fa-rupee-sign" style="color: #1f60d1;"></i>{{this.cprice}}</span>
            <span class="aprice"><i class="fas fa-rupee-sign" style="color: #1f60d1;"></i>{{this.aprice}}</span><br>
                        <form action="/cart" method="post">
                     <input type="hidden" name="id" value="{{this._id}}"> 
                    <input type="hidden" name="url" value="{{this.url}}">
                    <input type="hidden" name="cprice" value="{{this.cprice}}">
                    <button type="submit" class="btn">
                        <i class="fal fa-shopping-cart cart"></i>
                    </button>
                </form>  
      

                </div>
                
            </div>
            {{/each}}
        </div>
    </div>
    <footer>
        <div>&copy; 2024 Your E-commerce. All rights reserved.</div>
    </footer>




        </body>
</html>